body {
    background-color: gainsboro;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Orelega One', cursive;
}

.links a {
    text-decoration: none;
}

#return {
    color: black;
    text-decoration: none;
}

.ignore-css {
    all:unset;
}

#navbar {
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 24pt;
    display: flex;
    justify-content: space-between;
}

#navbar a {
    text-decoration: none;
}

#navbar a:visited {
    color: gainsboro;
}

#navbar a:hover {
    color: red;
}
